main-container{
    
    margin: 150px;
    border: 1px solid black;
    padding: 10px;

}
.hide-btn{
    margin-left: 589px;
    font-size: 25px;
}
.show-btn{
    font-size: 25px;
}

.toggle-btn{
    margin-left: 668px;
    font-size: 25px;
}